
.picture{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 510px;
    margin: 15px;

    overflow:scroll;
    overflow-x: hidden;
}

.pic{
    flex: 1;
    font-family: 'DungGeunMo';
    font-size: 16px;
}

.banner{
    width: 500px;
    background-color: #d8d8d8a6;
    padding: 12px 15px;
}

img{
    margin: 20px;
    width: 450px;
    height: auto;
}
.text{
    margin: 0 20px 20px 20px;
    padding-bottom: 30px;
    line-height: 20px;
}